<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="/yun" method="post" class="form">
  <label for="username">用户名:</label>
  <input type="text" id="username" name="username" class="form"><br><br>

  <label for="password">密码:</label>
  <input type="password" id="password" name="password" class="form" ><br><br>

  <label for="dropdown">下拉框:</label>
  <select name="dropdown" id="dropdown">
    <option value="1">自动翻PPT</option>
    <option value="2">开启作业微信提醒</option>
    <option value="3">自动签到</option>
  </select><br><br>
  <label for="url">PPT链接:</label>
  <input type="text" id="url" name="url" class="form"><br><br>
  <input type="submit" value="提交" class="btn">

</form>
</body>
</html>
